.root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.playersPanel {
  width: 100vw;
  height: 100vh;
  gap: 5px;
  position: fixed;
  z-index: 1;
}


.player {
  width: 100px;
  height: 100px;
  position: absolute;
  background: rgba(255,0,200,35);
}

.player1 {
  left: 0%;
  top: 0%;
}

.player2 {
  left: calc(50% - 50px);
  top: 0%;
}

.player3 {
  left: calc(100% - 100px);
  top: 0%;
}

.player4 {
  left: calc(100% - 100px);
  top: calc(100% - 100px);
}

.player5 {
  left: calc(50% - 50px);
  top: calc(100% - 100px);
}

.player6 {
  left: 0%;
  top: calc(100% - 100px);
}



.gameBoard {
  width: 100%;
  height: 100vh;
  position: relative;
  background: black url("./../public/medieval.png") no-repeat center center;
  background-size: contain;
}

.board {
  width: 50%;
  height: 70%;
  background-image: url(./../public/board.jpg); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: contain;
  position: absolute;
  left: 25%;
  top: 15%;
}

.places {
  display: grid;
  grid-template-columns: repeat(3, 100px); /* 3 columns */
  grid-template-rows: auto auto;           /* 2 rows */
  justify-content: center;
  gap: 35px;
  position: relative;
  top: 18px;
}

.group1 {
  width: 210px;
  height: 140px;
  border: inset 5px blue;
  grid-column:2; grid-row:1;
}
.group2 {
  width: 210px;
  height: 140px;
  border: inset 5px blue;
  grid-column:1; grid-row:2;
  transform: rotate(60deg);
  margin-top: 40px;
}
.group3 {
  width: 210px;
  height: 140px;
  border: inset 5px blue;
  grid-column:3; grid-row:2;
  transform: rotate(300deg);
  margin-top: 40px;
}
